/*
COLOR
================================================ */
/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
  width: 1440px;
}

body {
  padding-top: 104px;
  box-sizing: border-box;
  font-size: 1.125rem;
  font-family: "Kosugi", sans-serif;
  color: #2C2C2C;
}

/*
COMMON
================================================ */
p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Kosugi", sans-serif;
}

.wrapper {
  padding: 0 170px;
  margin: 0 auto;
}

.title {
  text-align: center;
}
.title h3 {
  font-size: 36px;
}
.title p {
  font-size: 12px;
  color: #FF5F32;
  line-height: 4;
}

.btn2_2 {
  margin-top: 66px;
}

/* breadcrumb */
.breadcrumb {
  margin-top: 12px;
  margin-bottom: 50px;
}
.breadcrumb ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.breadcrumb li {
  font-size: 12px;
  color: #5D5D5D;
}
.breadcrumb li a {
  color: #5D5D5D;
  transition: all 0.3s;
}
.breadcrumb li a:hover {
  color: #FF5F32;
}
.breadcrumb li:after {
  content: ">";
  margin: 0 0.5em;
}
.breadcrumb li:last-of-type:after {
  content: "";
  margin: 0;
}

/*
HEADER
================================================ */
.header {
  width: 100%;
  height: 104px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: background-color 0.5s, color 0.5s;
  z-index: 2;
}

.change-color {
  background: rgba(255, 255, 255, 0.8);
}

.header_inner {
  padding: 47px 56px 23px 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_inner img {
  padding-right: 64px;
}
.header_inner nav ul {
  display: flex;
  justify-content: flex-start;
}
.header_inner nav ul li {
  padding-right: 56px;
}
.header_inner nav ul li a {
  color: #2C2C2C;
}
.header_inner nav ul li a:hover {
  color: #FF5F32;
  transition: all 0.3s;
}

/*
HERO
================================================ */
.bg {
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  width: 1080px;
  height: 724px;
  background-image: url(../images/home/mv.png);
  z-index: -1;
}

.hero {
  padding-top: 13%;
}
.hero .hero-text h1 {
  font-size: 48px;
  letter-spacing: 2.4px;
}
.hero .hero-text p {
  color: #5D5D5D;
  font-size: 16px;
  line-height: 2;
}

.btn {
  margin-top: 40px;
}

.btn1 {
  margin-top: 50px;
  border-radius: 30px;
  background-color: #FF5F32;
  color: #FFFFFF;
  padding: 20px 30px;
  transition: all 0.3s ease;
}
.btn1:hover {
  opacity: 0.5;
}

.hero-news {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 45px 30px;
  border-radius: 16px;
}
.hero-news h3 {
  font-size: 18px;
  color: #FF5F32;
}
.hero-news ul {
  margin-left: 10px;
}
.hero-news ul li {
  margin-bottom: 16px;
}
.hero-news ul li a {
  display: flex;
  align-items: center;
}
.hero-news ul li time {
  color: #5D5D5D;
  font-size: 14px;
  margin-right: 10px;
}
.hero-news ul li a p {
  font-size: 16px;
  color: #2C2C2C;
  text-decoration: underline;
}
.hero-news ul li a p:hover {
  text-decoration: none;
}

/*
FIND
================================================ */
.home_find {
  margin-top: 60px;
}

.home_find_list {
  margin-top: 30px;
}
.home_find_list ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.home_find_list ul li {
  width: 225px;
  height: 350px;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.home_find_list ul li:hover {
  opacity: 0.5;
}
.home_find_list ul li img {
  margin-bottom: 26px;
}
.home_find_list ul li h3 {
  font-size: 18px;
  color: #2C2C2C;
  text-align: center;
  padding: 0 45px;
}

.btn2 {
  display: flex;
  justify-content: center;
}
.btn2 a {
  position: relative;
  font-size: 18px;
  text-align: center;
  color: #FF5F32;
  border-radius: 30px;
  border: 1px solid #FF5F32;
  padding: 15px 100px;
  transition: ease 0.3s;
}
.btn2 a:hover {
  opacity: 0.5;
}
.btn2 a::after {
  position: absolute;
  content: "";
  top: 42%;
  right: 13px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #FF5F32;
  border-right: 1px solid #FF5F32;
  transform: rotate(45deg);
}

/*
FIND-SHOP
================================================ */
.home_find-shop {
  margin-top: 96px;
  padding-bottom: 510px;
}

.store-content {
  position: relative;
  margin-top: 30px;
}

.store-map1 {
  position: absolute;
  content: "";
  top: 0;
  right: 300px;
  width: 184px;
  height: 136px;
  background-color: #FFECC6;
  border-radius: 24px;
  z-index: -2;
}

.store-map2 {
  position: absolute;
  content: "";
  top: 168px;
  right: 330px;
  width: 190px;
  height: 320px;
  background-color: #FFECC6;
  border-radius: 24px;
  z-index: -2;
}

.store-map3 {
  position: absolute;
  content: "";
  top: 250px;
  right: 490px;
  width: 235px;
  height: 105px;
  background-color: #FFECC6;
  border-radius: 24px;
  z-index: -2;
}

.store-map4 {
  position: absolute;
  content: "";
  top: 380px;
  right: 530px;
  width: 195px;
  height: 105px;
  background-color: #FFECC6;
  border-radius: 24px;
  z-index: -2;
}

.store-map5 {
  position: absolute;
  content: "";
  top: 249px;
  left: 234px;
  width: 112px;
  height: 238px;
  background-color: #FFECC6;
  border-radius: 24px;
  z-index: -2;
}

.btn3 {
  font-size: 18px;
  color: #FFFFFF;
  background-color: #FF5F32;
  border-radius: 24px;
  border: 1px solid #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 13px 34px;
  transition: all 0.3s;
}
.btn3:hover {
  opacity: 0.5;
}

.store-detail {
  position: relative;
}

.sapporo {
  position: absolute;
  top: 90px;
  right: 240px;
}

.miyagi {
  position: absolute;
  top: 250px;
  right: 240px;
}

.sinjuku {
  position: absolute;
  top: 475px;
  right: 240px;
}

.ishikawa {
  position: absolute;
  top: 250px;
  right: 475px;
}

.umeda {
  position: absolute;
  top: 350px;
  right: 475px;
}

.shizuoka {
  position: absolute;
  top: 475px;
  right: 475px;
}

.fukuoka {
  position: absolute;
  top: 250px;
  right: 675px;
}

.kagosima {
  position: absolute;
  top: 475px;
  right: 785px;
}

/*
BLOG
================================================ */
.blog {
  margin-top: 96px;
  background-color: #FAFAFA;
  padding-bottom: 96px;
}
.blog .title {
  padding-top: 96px;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-list li {
  width: 208px;
  transition: all 0.3s;
}
.blog-list li img {
  width: 208px;
  height: 208px;
  border-radius: 24px;
}
.blog-list li p {
  margin-top: 28px;
  font-size: 16px;
  color: #2C2C2C;
}
.blog-list li time {
  margin-top: 6px;
  font-size: 12px;
  color: #5D5D5D;
}
.blog-list li:hover {
  opacity: 0.5;
}

/*
ABOUT
================================================ */
.about {
  padding-top: 96px;
  padding-bottom: 420px;
  background-color: #F7F7F9;
}
.about .title {
  padding-top: 96px;
}

.about-content {
  position: relative;
}

.about-item {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: -110px;
}

.about-bg {
  width: 112%;
}

.about-text {
  margin-left: 10px;
}
.about-text h2 {
  font-size: 20px;
}
.about-text p {
  font-size: 16px;
  color: #5D5D5D;
  margin-top: 13px;
  padding-right: 165px;
}

/*
footer
================================================ */
.solid {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  border-top: 1px solid #F7B500;
}

.footer {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  padding-right: 80px;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer ul li {
  padding-right: 52px;
}
.footer ul li a {
  color: #2C2C2C;
  font-size: 14px;
  transition: all 0.3s;
}
.footer ul li a:hover {
  color: #FF5F32;
}

footer p {
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: #5D5D5D;
}

/*
find a cat
================================================ */
.find-list_4colum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.find-list_4colum li {
  width: 184px;
  margin: 20px;
  transition: all 0.3s;
}
.find-list_4colum li a {
  color: #2C2C2C;
}
.find-list_4colum li p {
  padding: 0px 22px;
  text-align: center;
}
.find-list_4colum li:hover {
  opacity: 0.5;
}

.find-list_3colum {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.find-list_3colum li {
  width: 280px;
  margin-bottom: 44px;
  transition: all 0.3s;
}
.find-list_3colum li a {
  display: flex;
  justify-content: space-around;
  color: #2C2C2C;
}
.find-list_3colum li img {
  width: 100px;
}
.find-list_3colum li p {
  font-size: 16px;
  padding: 0 10px;
}
.find-list_3colum li:hover {
  opacity: 0.5;
}

.btn2_find {
  margin-top: 73px;
  margin-bottom: 104px;
}

/* find a cat detail */
.find-detail dl {
  display: flex;
  justify-content: flex-start;
}
.find-detail dl dt {
  width: 584px;
  margin-right: 40px;
}
.find-detail dl dt img {
  border-radius: 24px;
}
.find-detail dl dd {
  margin-top: 25px;
}
.find-detail dl dd h2 {
  font-size: 28px;
  margin-bottom: 22px;
}
.find-detail dl table {
  border-spacing: 0px 20px;
}
.find-detail dl table th {
  text-align: start;
  padding-right: 20px;
  font-size: 14px;
  color: #5D5D5D;
}
.find-detail dl table th tr {
  padding: 5px 0;
}
.find-detail dl table th h3 {
  font-size: 20px;
  color: #2C2C2C;
}
.find-detail dl table th h3 .gray {
  color: #5D5D5D;
  font-size: 14px;
}

.cat-detail {
  margin-top: 26px;
}
.cat-detail a {
  color: #2C2C2C;
  transition: all 0.3s;
}
.cat-detail a:hover {
  color: #FF5F32;
}

.cat-detail_img {
  display: flex;
  margin-top: 16px;
  margin-bottom: 54px;
}
.cat-detail_img li {
  margin-right: 17px;
}
.cat-detail_img img {
  width: 134px;
  border-radius: 10px;
}

.comment {
  background-color: #FAFAFA;
  padding: 40px;
  margin-bottom: 56px;
}
.comment h3 {
  font-size: 16px;
  margin-bottom: 40px;
  position: relative;
}
.comment h3::after {
  content: "";
  position: absolute;
  background-color: #CDCDCD;
  width: 1020px;
  height: 1px;
  top: 25px;
  left: 0;
}
.comment p {
  font-size: 14px;
  color: #5D5D5D;
}

.bottom {
  margin-bottom: 20px;
}

.detail_shop {
  position: relative;
  margin: 125px 0;
}
.detail_shop::before {
  content: "";
  position: absolute;
  background-color: #CDCDCD;
  width: 1100px;
  height: 1px;
  top: -56px;
  left: 0;
}
.detail_shop::after {
  content: "";
  position: absolute;
  background-color: #CDCDCD;
  width: 1100px;
  height: 1px;
  bottom: -56px;
  left: 0;
}
.detail_shop ul {
  display: flex;
  padding: 10px 30px;
}
.detail_shop ul img {
  width: 400px;
  border-radius: 24px;
}

.detail_shinjuku {
  padding: 30px 50px;
}
.detail_shinjuku h3 {
  font-size: 20px;
}
.detail_shinjuku table {
  border-spacing: 0px 10px;
}
.detail_shinjuku table th {
  text-align: start;
  padding-right: 20px;
  font-size: 14px;
  color: #5D5D5D;
}
.detail_shinjuku table th tr {
  padding: 5px 0;
}

.btn04 {
  margin-top: 50px;
}

.btn4 {
  position: relative;
  margin-top: 50px;
  border-radius: 30px;
  background-color: #FF5F32;
  color: #FFFFFF;
  padding: 20px 70px;
  transition: all 0.3s ease;
  font-size: 18px;
}
.btn4::after {
  position: absolute;
  content: "";
  top: 42%;
  right: 30px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  transform: rotate(45deg);
}
.btn4:hover {
  opacity: 0.5;
}

.detail_another-cat {
  margin: 56px 0;
}
.detail_another-cat h3 {
  font-size: 28px;
  margin-bottom: 40px;
}
.detail_another-cat ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.detail_another-cat ul li {
  width: 225px;
  height: 350px;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.detail_another-cat ul li:hover {
  opacity: 0.5;
}
.detail_another-cat ul li img {
  margin-bottom: 26px;
}
.detail_another-cat ul li p {
  font-size: 18px;
  color: #2C2C2C;
  text-align: center;
  padding: 0 45px;
}
/*# sourceMappingURL=style.css.map */