/*
COLOR
================================================ */
$Body: #FAFAFA;
$Black: #2C2C2C;
$Orange: #FF5F32;
$Gray: #5D5D5D;
$White: #FFFFFF;
$Map: #FFECC6;
$Gray2: #F7F7F9;
$Yellow: #F7B500;

/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
  width: 1440px;
}

body {
  padding-top: 104px;
  box-sizing: border-box;
  font-size: 1.125rem;
  font-family: 'Kosugi', sans-serif;
  color: $Black;
}

/*
COMMON
================================================ */
p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Kosugi', sans-serif;
}

.wrapper {
  padding: 0 170px;
  margin: 0 auto;
}

.title {
  text-align: center;

  h3 {
    font-size: 36px;
  }

  p {
    font-size: 12px;
    color: $Orange;
    line-height: 4;
  }
}

.btn2_2 {
  margin-top: 66px;
}

/* breadcrumb */
.breadcrumb {
  margin-top: 12px;
  margin-bottom: 50px;

  ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
  }

  li {
    font-size: 12px;
    color: $Gray;

    a {
      color: $Gray;
      transition: all .3s;

      &:hover {
        color: $Orange;
      }
    }

    &:after {
      content: ">";
      margin: 0 0.5em;
    }

    &:last-of-type:after {
      content: "";
      margin: 0;
    }
  }
}

/*
HEADER
================================================ */
.header {
  width: 100%;
  height: 104px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: background-color .5s, color .5s;
  z-index: 2;
}

.change-color {
  background: rgb(255, 255, 255, 0.8);
}


.header_inner {
  padding: 47px 56px 23px 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    padding-right: 64px;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;

    li {
      padding-right: 56px;

      a {
        color: $Black;

        &:hover {
          color: $Orange;
          transition: all .3s;
        }
      }
    }
  }
}

/*
HERO
================================================ */
.bg {
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  width: 1080px;
  height: 724px;
  background-image: url(../images/home/mv.png);
  z-index: -1;
}

.hero {
  padding-top: 13%;

  .hero-text {
    h1 {
      font-size: 48px;
      letter-spacing: 2.4px;
    }

    p {
      color: $Gray;
      font-size: 16px;
      line-height: 2;
    }
  }
}

.btn {
  margin-top: 40px;
}

.btn1 {
  margin-top: 50px;
  border-radius: 30px;
  background-color: $Orange;
  color: $White;
  padding: 20px 30px;
  transition: all .3s ease;

  &:hover {
    opacity: .5;
  }
}

.hero-news {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  padding: 45px 30px;
  border-radius: 16px;

  h3 {
    font-size: 18px;
    color: $Orange;
  }

  ul {
    margin-left: 10px;

    li {
      margin-bottom: 16px;

      a {
        display: flex;
        align-items: center;
      }

      time {
        color: $Gray;
        font-size: 14px;
        margin-right: 10px;
      }

      a p {
        font-size: 16px;
        color: $Black;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

    }

  }
}

/*
FIND
================================================ */
.home_find {
  margin-top: 60px;
}

.home_find_list {
  margin-top: 30px;

  ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    li {
      width: 225px;
      height: 350px;
      margin-bottom: 50px;
      transition: all .3s ease;

      &:hover {
        opacity: .5;
      }

      img {
        margin-bottom: 26px;
      }

      h3 {
        font-size: 18px;
        color: $Black;
        text-align: center;
        padding: 0 45px;
      }
    }
  }
}

.btn2 {
  display: flex;
  justify-content: center;

  a {
    position: relative;
    font-size: 18px;
    text-align: center;
    color: $Orange;
    border-radius: 30px;
    border: 1px solid $Orange;
    padding: 15px 100px;
    transition: ease .3s;

    &:hover {
      opacity: .5;
    }

    &::after {
      position: absolute;
      content: '';
      top: 42%;
      right: 13px;
      width: 8px;
      height: 8px;
      border-top: 1px solid $Orange;
      border-right: 1px solid $Orange;
      transform: rotate(45deg);
    }
  }
}

/*
FIND-SHOP
================================================ */
.home_find-shop {
  margin-top: 96px;
  padding-bottom: 510px;
}

.store-content {
  position: relative;
  margin-top: 30px;
}

.store-map1 {
  position: absolute;
  content: '';
  top: 0;
  right: 300px;
  width: 184px;
  height: 136px;
  background-color: $Map;
  border-radius: 24px;
  z-index: -2;
}

.store-map2 {
  position: absolute;
  content: '';
  top: 168px;
  right: 330px;
  width: 190px;
  height: 320px;
  background-color: $Map;
  border-radius: 24px;
  z-index: -2;
}

.store-map3 {
  position: absolute;
  content: '';
  top: 250px;
  right: 490px;
  width: 235px;
  height: 105px;
  background-color: $Map;
  border-radius: 24px;
  z-index: -2;
}

.store-map4 {
  position: absolute;
  content: '';
  top: 380px;
  right: 530px;
  width: 195px;
  height: 105px;
  background-color: $Map;
  border-radius: 24px;
  z-index: -2;
}

.store-map5 {
  position: absolute;
  content: '';
  top: 249px;
  left: 234px;
  width: 112px;
  height: 238px;
  background-color: $Map;
  border-radius: 24px;
  z-index: -2;
}

.btn3 {
  font-size: 18px;
  color: $White;
  background-color: $Orange;
  border-radius: 24px;
  border: 1px solid $White;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  padding: 13px 34px;
  transition: all .3s;

  &:hover {
    opacity: .5;
  }
}

.store-detail {
  position: relative;
}

.sapporo {
  position: absolute;
  top: 90px;
  right: 240px;
}

.miyagi {
  position: absolute;
  top: 250px;
  right: 240px;
}

.sinjuku {
  position: absolute;
  top: 475px;
  right: 240px;
}

.ishikawa {
  position: absolute;
  top: 250px;
  right: 475px;
}

.umeda {
  position: absolute;
  top: 350px;
  right: 475px;
}

.shizuoka {
  position: absolute;
  top: 475px;
  right: 475px;
}

.fukuoka {
  position: absolute;
  top: 250px;
  right: 675px;
}

.kagosima {
  position: absolute;
  top: 475px;
  right: 785px;
}

/*
BLOG
================================================ */

.home-blog {
  margin-top: 96px;
  background-color: $Body;
  padding-bottom: 96px;

  .title {
    padding-top: 96px;
  }
}

.home-blog_list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    width: 208px;
    transition: all .3s;

    img {
      width: 208px;
      height: 208px;
      border-radius: 24px;
    }

    p {
      margin-top: 28px;
      font-size: 16px;
      color: $Black;
    }

    time {
      margin-top: 6px;
      font-size: 12px;
      color: $Gray;
    }

    &:hover {
      opacity: .5;
    }
  }
}

/*
ABOUT
================================================ */
.about {
  padding-top: 96px;
  padding-bottom: 420px;
  background-color: $Gray2;

  .title {
    padding-top: 96px;
  }
}

.about-content {
  position: relative;
}

.about-item {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: -110px;
}

.about-bg {
  width: 112%;
}

.about-text {
  margin-left: 10px;

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    color: $Gray;
    margin-top: 13px;
    padding-right: 165px;
  }
}

/*
footer
================================================ */
.solid {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  border-top: 1px solid $Yellow;
}

.footer {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    padding-right: 80px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      padding-right: 52px;

      a {
        color: $Black;
        font-size: 14px;
        transition: all .3s;

        &:hover {
          color: $Orange;
        }
      }
    }
  }
}

footer p {
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: $Gray;
}

/*
find a cat
================================================ */
.find-list_4colum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  li {
    width: 184px;
    margin: 20px;
    transition: all .3s;

    a {
      color: $Black;
    }

    p {
      padding: 0px 22px;
      text-align: center;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.find-list_3colum {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: all .3s;

  li {
    width: 280px;
    margin-bottom: 44px;
    transition: all .3s;

    a {
      display: flex;
      justify-content: space-around;
      color: $Black;
    }

    img {
      width: 100px;
    }

    p {
      font-size: 16px;
      padding: 0 10px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.btn2_find {
  margin-top: 73px;
  margin-bottom: 104px;
}

/* find a cat detail */
.find-detail dl {
  display: flex;
  justify-content: flex-start;

  dt {
    width: 584px;
    margin-right: 40px;

    img {
      border-radius: 24px;
    }
  }

  dd {
    margin-top: 25px;

    h2 {
      font-size: 28px;
      margin-bottom: 22px;

    }
  }

  table {
    border-spacing: 0px 20px;

    th {
      text-align: start;
      padding-right: 20px;
      font-size: 14px;
      color: $Gray;

      tr {
        padding: 5px 0;
      }

      h3 {
        font-size: 20px;
        color: $Black;

        .gray {
          color: $Gray;
          font-size: 14px;
        }
      }
    }
  }
}

.cat-detail {
  margin-top: 26px;

  a {
    color: $Black;
    transition: all .3s;

    &:hover {
      color: $Orange;
    }
  }
}


.cat-detail_img {
  display: flex;
  margin-top: 16px;
  margin-bottom: 54px;

  li {
    margin-right: 17px;
  }

  img {
    width: 134px;
    border-radius: 10px;
  }
}

.comment {
  background-color: $Body;
  padding: 40px;
  margin-bottom: 56px;

  h3 {
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: #CDCDCD;
      width: 1020px;
      height: 1px;
      top: 25px;
      left: 0;
    }
  }

  p {
    font-size: 14px;
    color: $Gray;
  }
}

.bottom {
  margin-bottom: 20px;
}

.detail_shop {
  position: relative;
  margin: 125px 0;

  &::before {
    content: '';
    position: absolute;
    background-color: #CDCDCD;
    width: 1100px;
    height: 1px;
    top: -56px;
    left: 0;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: #CDCDCD;
    width: 1100px;
    height: 1px;
    bottom: -56px;
    left: 0;
  }

  ul {
    display: flex;
    padding: 10px 30px;

    img {
      width: 400px;
      border-radius: 24px;
    }
  }
}

.detail_shinjuku {
  padding: 30px 50px;

  h3 {
    font-size: 20px;
  }

  table {
    border-spacing: 0px 10px;

    th {
      text-align: start;
      padding-right: 20px;
      font-size: 14px;
      color: $Gray;

      tr {
        padding: 5px 0;
      }
    }
  }
}

.btn04 {
  margin-top: 50px;
}

.btn4 {
  position: relative;
  margin-top: 50px;
  border-radius: 30px;
  background-color: $Orange;
  color: $White;
  padding: 20px 70px;
  transition: all .3s ease;
  font-size: 18px;

  &::after {
    position: absolute;
    content: '';
    top: 42%;
    right: 30px;
    width: 8px;
    height: 8px;
    border-top: 1px solid $White;
    border-right: 1px solid $White;
    transform: rotate(45deg);

  }

  &:hover {
    opacity: .5;
  }
}

.detail_another-cat {
  margin: 56px 0;

  h3 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    li {
      width: 225px;
      height: 350px;
      margin-bottom: 50px;
      transition: all .3s ease;

      &:hover {
        opacity: .5;
      }

      img {
        margin-bottom: 26px;
      }

      p {
        font-size: 18px;
        color: $Black;
        text-align: center;
        padding: 0 45px;
      }
    }
  }
}

/* shop-related */
.shop-related_item {
  position: relative;
  margin: 125px 0;

  &:nth-last-of-type(1) {
    margin-bottom: 56px;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: #CDCDCD;
    width: 1100px;
    height: 1px;
    top: -56px;
    left: 0;
  }

  ul {
    display: flex;
    padding: 10px 30px;

    img {
      width: 400px;
      border-radius: 24px;
    }
  }

  h3 {
    color: $Black;
    font-size: 20px;

    small {
      color: $Gray;
      font-size: 14px;
    }
  }
}

.pager .pagination {
  text-align: center;

  li {
    display: inline;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;

    a {
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 80%;
      text-align: center;
      display: table;
      color: #9B9B9B;
      transition: all 0.3s ease;

      &:hover {
        color: $Black;
      }

      &.active {
        color: $Black;
        border-radius: 50px;
        border: 1px solid $Gray;
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.pager {
  position: relative;
  margin-bottom: 56px;

  &::after {
    content: '';
    position: absolute;
    background-color: #CDCDCD;
    width: 1100px;
    height: 1px;
    bottom: -56px;
    left: 0;
  }
}

.related_shinjuku::before,
.related_shinjuku::after {
  content: none;
}

.shop-related_btn {
  margin-top: 30px;
}

/* BLOG */
.main-post {
  height: 590px;
}

.main-post_content {
  position: relative;

  img {
    border-radius: 24px;
    width: 1100px;
    height: 400px;
  }
}

.main-post_text {
  position: absolute;
  bottom: -46%;
  left: 10%;
  width: 880px;
  padding: 30px;
  background-color: $White;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    color: $Gray;
    margin-bottom: 24px;
  }
}

.main-post_tag {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      margin-right: 12px;

      a {
        font-size: 14px;
        color: $Black;
        text-decoration: underline;
        transition: all .3s;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  time {
    font-size: 12px;
    color: $Gray;
  }
}

.blog-container {
  display: flex;
  justify-content: space-between;

  main {
    width: 720px;

    .pager {
      margin-top: 20px;

      &::after {
        content: none;
      }
    }
  }

  aside {
    margin-top: 48px;
    width: 184px;

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 15px;
    }

    time {
      font-size: 12px;
      color: $Gray;
    }
  }
}



.article {
  margin-top: 48px;
  height: 226px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #CDCDCD;
    width: 720px;
    height: 1px;
    bottom: 0px;
    left: 0;
  }

  &:nth-child(6)::after {
    content: none;
  }

  figure {
    float: left;
    width: 300px;
    height: 200px;
    margin: 0;

    img {
      border-radius: 15px;

    }
  }
}

.article-info {
  display: inline-block;
  float: right;
  width: 396px;
  margin-top: 8px;
  margin-left: 24px;

  time {
    font-size: 12px;
    color: $Gray;
  }

  h3 {
    margin-top: 12px;
    font-size: 20px;
  }

  p {
    font-size: 12px;
    color: $Gray;
    margin-top: 5px;
  }

  .main-post_tag {
    margin-top: 18px;
  }
}

.pikup-item {
  height: 311px;
  margin-bottom: 72px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #CDCDCD;
    width: 184px;
    height: 1px;
    bottom: 0px;
    left: 0;
  }

  &:nth-child(4)::after {
    content: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    li {
      img {
        border-radius: 10px;
        width: 184px;
        height: 184px;
      }

      h3 {
        margin-top: 24px;
        margin-bottom: 13px;
      }
    }
  }
}

.keyword li {
  margin-bottom: 5px;

  a {
    font-size: 14px;
    color: $Black;
    text-decoration: underline;
    transition: all .3s;

    &:hover {
      text-decoration: none;
    }
  }
}

.main {
  position: relative;
}

.aside-bg {
  position: absolute;
  content: "";
  width: 480px;
  height: 2538px;
  top: -114px;
  right: 0;
  background: $Body;
  z-index: -5;
}

/* blog-detail */
.blog-detail>.aside-bg {
  height: 3230px;
}

.blog-detail_container {
  display: flex;
  justify-content: space-between;

  main {
    width: 720px;
  }

  aside {
    margin-top: 48px;
    width: 184px;

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 15px;
    }

    time {
      font-size: 12px;
      color: $Gray;
    }
  }

}

.blog-detail_main {
  margin-top: 73px;
  margin-bottom: 96px;

  .detail_shop {
    position: relative;
    margin: 125px 0;

    &::before {
      content: '';
      position: absolute;
      background-color: #CDCDCD;
      width: 720px;
      height: 1px;
      top: -56px;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: #CDCDCD;
      width: 720px;
      height: 1px;
      bottom: -56px;
      left: 0;
    }

    ul {
      display: flex;
      padding: 10px 30px;

      img {
        width: 282px;
        border-radius: 10px;
      }
    }
  }

  .detail_shinjuku {
    padding: 30px 15px;

    h3 {
      font-size: 20px;
    }

    table {
      border-spacing: 0px 10px;

      th {
        text-align: start;
        padding-right: 20px;
        font-size: 14px;
        color: $Gray;

        tr {
          padding: 5px 0;
        }
      }
    }
  }

  .btn04 {
    margin-top: 10px;
    text-align: center;
  }

  .btn4 {
    position: relative;
    margin-top: 50px;
    border-radius: 30px;
    background-color: $Orange;
    color: $White;
    padding: 20px 70px;
    transition: all .3s ease;
    font-size: 18px;

    &::after {
      position: absolute;
      content: '';
      top: 42%;
      right: 30px;
      width: 8px;
      height: 8px;
      border-top: 1px solid $White;
      border-right: 1px solid $White;
      transform: rotate(45deg);

    }

    &:hover {
      opacity: .5;
    }
  }
}

.blog-detail_text {
  time {
    color: $Gray;
  }

  h2 {
    margin-top: 20px;
  }

  h2,
  p {
    margin-bottom: 32px;
  }

  h3 {
    margin-bottom: 28px;
  }

  img {
    width: 720px;
    border-radius: 10px;
    margin-bottom: 43px;
  }
}

.blog-detail_present {
  p {
    margin-bottom: 32px;
  }

  h3 {
    margin-bottom: 28px;
  }

  img {
    width: 720px;
    border-radius: 10px;
    margin-bottom: 43px;
  }

  .main-post_tag {
    margin-top: 48px;
  }
}

.blog-detail_newBlog {
  margin-top: 79px;

  h3 {
    font-size: 20px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      transition: all .3s;

      &:hover {
        opacity: .5;
      }

      img {
        width: 147px;
        height: 147px;
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 3px;
        font-size: 16px;
        width: 147px;
        color: $Black;
      }

      time {
        font-size: 12px;
        color: $Gray;
      }
    }
  }

  .btn2 {
    margin-top: 23px;
  }
}